@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

.board {
  border: 1rem solid black;
  background: black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: white;
  color: black;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}
 
.game {
  width: '200px';
  margin: '20px auto';
}